* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right,
    #1c2e4a 0,
    #1c2e4a 50%,
    #f2f3f5 50%,
    #f2f3f5 100%
  );
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  font-family: sans-serif;
}

.container {
  background-color: #fff;
  width: 40em;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container form {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

form input {
  border: 2px solid #1c2e4a;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 400;
}

form button {
  border: none;
  border-radius: 5px;
  background-color: #1c2e4a;
  color: #f2f3f5;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

form input:focus,
form button:focus {
  outline: none;
}

p {
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

mark {
  background-color: #ffdd4b;
}
